body {
    flex-direction: column;
    gap: var(--gap);
}

#input,
#output {
    background-color: #fff;
    border: 1px solid #000;
    padding: var(--padding);

    min-height: 32px;
}

#output {
    background-color: #1a891a;
    color: #fff;
}

.domino {
    font-size: 32px;
    overflow: auto;
}

.invisible {
    color: transparent;
}
